---
import Header from '../components/Header.tsx';
import Sidebar from '../components/Sidebar';
import ThemeScript from '../components/ThemeScript.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} - Attendance System</title>
    <ThemeScript />
  </head>
  <body class="transition-colors duration-200">
    <div class="min-h-screen bg-custom-background dark:bg-gray-900">
      <Header client:load />
      <div class="flex flex-col md:flex-row">
        <Sidebar client:load />
        <main class="flex-1 p-4 md:p-8 w-full">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>